/* list section*/

#faq-container{
    width: 860px;
    margin:auto;
    margin-top: 100px;
}

#list-container{
    margin-top: 92px;
    min-height: 600px;

}

.list-el:hover{
    cursor: pointer;
}

.question{
    border-bottom: 1px solid #eaeaea;
    margin-top: 43px;
    
}
.question-header{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.answer{
    display: none;
    border-top: solid;
    /* border-bottom: solid; */
    border-color: #eaeaea;
    border-width: 0.5px; 

    width: 810px;
    background-color: #f9f9f9;
    height: auto;
    min-height: 89px;
}
.answer p{
    padding-left: 35px;
    padding-top: 30px;;

}


.showing{
    display: block;
}

