
.header{
    padding-left: 50px;
    padding-top: 30px;
}

#whole-container{
    width:860px; 
    margin:auto;
}

/* list section*/

#list-container{
    margin-top: 92px;

}

.list-el:hover{
    cursor: pointer;
}

.question{
    display: flex;
    margin-top: 43px;
    justify-content: space-between;
}
.answer{
    display: none;
    margin-top: 20px;
    width: 860px;
    background-color: #f9f9f9;
    height: auto;
    min-height: 89px;
}
.answer p{
    padding-left: 35px;
    padding-top: 30px;;

}
.showing{
    display: block;
}

.title{
    height: 24px;
}
.title span{
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 24px;
}


.tags{
    height:24px;
    margin-left: 20px;
    display: flex;
}

.tag-name{
    height: 24px;
    background-color:#eaeaea;
    list-style-type: none;
    border-radius: 10px;
    margin-right: 10px;
    text-align: center;
}
.tag-name span{
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    line-height: 24px;
    margin: 0 8px;
}


/* footer section */

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 30px;
    width: 100%;
}

.footer{
    display: flex;
    justify-content: space-between;
}
.footer span{
    font-size: 10px;
}
.right{
    display: flex;
}
.left{
    margin-left: 50px;
}
.right{
    margin-right: 50px;
}
.right-element{
    margin-left: 30px;
}
